#calc{
    margin: auto;
    width: 500px;
    border: 1px solid #26302F;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;    
}
input{
    height: 125px;
    color: #DBE1E1;
    font-family: 'Tajawal', sans-serif;
    font-size: 3em;
    border: 1px solid #26302F;
    
}
input[type="text"]{
    grid-column: 1 / 5;
    margin: 0;
    padding: 0 20px 0 0;
    background: #26302F;
    color: #FEFDFF;
    font-size: 5em;
    text-align: right;
}
input[type="button"]{
    cursor: pointer;
}
input[name="zero"]{
    grid-column: 1 / 3;
    text-align: left;
    padding: 0 0 0 50px;
}
.num{
    background: #596362;
}
.act{
    background: #FCA108;
}
.func{
    background: #3B4443;
}
