#calc{
    margin: auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #26302F;
}
input{
    height: 125px;
    color: #DBE1E1;
    font-family: 'Tajawal', sans-serif;
    font-size: 3em;
    border: 1px solid #26302F;
}
input[type="text"]{
    margin: 0;
    padding: 0 20px 0 0;
    width: 100%;
    background: #26302F;
    color: #FEFDFF;
    font-size: 5em;
    text-align: right;
}
input[type="button"]{
    width: 25%;
    margin: 0;
    cursor: pointer;
}
input[name="zero"]{
    width: 50%;
    text-align: left;
    padding: 0 0 0 10%;
}
input[type="button"]:nth-child(-n+4){
    background: #3B4443;
}
input[type="button"]:nth-child(4n+5),
input[name="equal"]{
    background: #FCA108;
}
input[name="seven"],
input[name="eight"],
input[name="nine"],
input[name="four"],
input[name="five"],
input[name="six"],
input[name="one"],
input[name="two"],
input[name="three"],
input[name="zero"],
input[name="point"]{
    background: #596362;
}